@charset 'utf-8';

.skip>a{position:absolute;left:0;top:0;z-index:99999;display:flex;flex-flow:column;padding:6px;text-decoration:none;color:white;background-color:black;font-weight:600;text-align: center;
transform:translateY(-100%);transition:0.1s;background-color:(0,0,0,0);}
.skip>a.active{transform:translateY(0%);color:#b19c5e;background-color:(0,0,0,0.1);}